.rojo{
    background-color: red;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

.pregunta{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.casilla{
    border: 1px solid black;
    width: 60px;
    height: 40px;
}